@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p {
  font-weight: 300;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  margin: 0em 0em 0.5em 0em;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  line-height: 1em;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.333em;
}

small, .text_small {
  font-size: 0.75em;
}

#down-arrow {
  fill: #F6EFF2;
}

.header {
  align-items: center;
  align-items: center;
  color: #F6EFF2;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.header_text {
  text-align: center;
}
.header_arrow {
  bottom: 1em;
  color: #F6EFF2;
  opacity: 0.5;
  position: absolute;
  transition: all 0.5s ease;
  width: 2em;
}
.header_arrow:hover {
  opacity: 1;
  transform: translateY(-5px);
}
.header_h3 {
  font-weight: 100;
}
.header_overlay {
  background: #829D94;
  height: 100vh;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.header_video {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.header_video video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header_video img {
  object-fit: cover;
  height: 100%;
  display: none;
}

@media screen and (max-width: 48em) {
  .header_video {
    background-image: url(../img/dano_header01.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  video {
    display: none;
  }
}
@media screen and (max-width: 30em) {
  .header_h1 {
    font-size: 18vw;
  }
  .header_h3 {
    font-size: 10vw;
  }
}
#logo {
  width: 3em;
}

#bars_menu {
  width: 2em;
}

#menu-movil {
  background: none;
  border: none;
  display: none;
  margin: 0;
  padding: 0;
}

.container_menu {
  margin: 1em auto;
  width: 95%;
}
.container_menu_wrap {
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 0.625em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.625em;
  top: 0;
  width: 100%;
}

.nav_ul {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav_li a {
  color: #000;
  font-weight: 900;
  margin-left: 2em;
  text-decoration: none;
}
.nav_li a:hover {
  text-decoration: underline;
}

.sticky {
  background-color: rgba(217, 232, 218, 0.5137254902);
  border-radius: 0.625em;
  position: sticky;
  top: 0.8em;
  width: 95%;
  z-index: 2;
}

@media screen and (max-width: 48em) {
  #menu-movil {
    display: block;
  }
  .container_menu {
    height: 3.6875em;
    left: 0;
    position: relative;
    top: 0;
  }
  .container_menu_wrap {
    border-radius: 0.625em;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 1s ease;
    z-index: 2;
  }
  .nav {
    width: 100%;
  }
  .nav_ul {
    align-items: center;
    flex-flow: column nowrap;
    height: 0px;
    justify-content: space-evenly;
    left: 0;
    overflow: hidden;
    top: 4.6875em;
    transition: all 0.5s ease;
    width: 100%;
  }
  .nav_li a {
    margin-left: 0em;
  }
  .bg_menu {
    background-color: rgba(130, 157, 148, 0.5568627451);
  }
  .active {
    height: 80vh;
  }
}
#header_bg {
  background-image: url(../img/dano_header.jpg);
  background-position: center 20%;
  background-size: cover;
}

.visual {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.visual_text {
  color: #133234;
  padding: 8% 0;
  width: 50%;
}

.btn-mas {
  background-color: #133234;
  border-radius: 0.625em;
  color: #F6EFF2;
  display: block;
  padding: 0.5em 2em;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.5s ease;
  width: fit-content;
}
.btn-mas:hover {
  background-color: #F6EFF2;
  color: #133234;
}

@media screen and (max-width: 48em) {
  .visual_text {
    width: 100%;
  }
}
@media screen and (max-width: 30em) {
  .visual_h2 {
    font-size: 12vw;
  }
}
#discografia {
  padding: 6.25em 0;
}

#discografia .wrap {
  background-color: #D9E8DA;
}

.disc_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.disc {
  background-color: #F6EFF2;
  border-radius: 0.625em;
  margin-top: 3em;
  padding: 0.625em;
  width: 24%;
}
.disc_img {
  border-radius: 0.625em;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: -2em;
  transition: all 0.5s ease;
  width: 80%;
}
.disc_img:hover {
  box-shadow: 0px 5px 10px #133234;
  transform: translateY(-5px);
}
.disc_logo {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: flex-start;
}

.fade-up {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s ease;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

@media screen and (max-width: 48em) {
  #discografia {
    padding: 2em 0;
  }
  .disc {
    width: 49%;
  }
}
@media screen and (max-width: 30em) {
  .disc {
    width: 100%;
  }
}
#multimedia {
  background-color: #D9E8DA;
  padding: 6.25em 0;
}

/* carousel */
#multimedia .container {
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}
@media (min-width: 48em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}
.carousel.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}
@media (min-width: 48em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}
.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-seat {
  background: #F6EFF2;
  flex: 1 0 100%;
  order: 2;
}

.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}

@media screen and (min-width: 30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 48em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}
.carousel-seat.is-ref {
  order: 1;
}

.controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  justify-content: center;
  margin: auto;
  margin-bottom: 4em;
  padding: 1em 0 0 0;
  width: 100%;
}

.controls button {
  background-color: #133234;
  border: 0;
  border-radius: 0.625em;
  color: #F6EFF2;
  cursor: pointer;
  padding: 1em 3em;
}

.controls button:hover,
.controls button:focus {
  background-color: #F6EFF2;
  color: #133234;
}

.embed-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#gallery {
  background-color: #F6EFF2;
  display: flex;
  flex-flow: column nowrap;
}

.gallery_flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.top {
  margin-bottom: 0.5em;
}

.gallery_block {
  border-radius: 0.625em;
  overflow: hidden;
  width: calc(25% - 0.5em);
}
.gallery_block_img {
  transition: all 0.5s ease;
}
.gallery_block_img:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(246, 239, 242, 0.9803921569);
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.5s ease;
  pointer-events: none;
}

.lightbox.activo {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.lightbox .cerrar {
  width: 1em;
  background: none;
  margin: 0 0 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lightbox .cerrar:hover {
  transform: scale(1.2);
}

.lightbox svg {
  fill: #133234;
}

.lightbox .grande {
  width: 80%;
  height: 80vh;
  object-fit: contain;
}

.lightbox_container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100vw;
}

.lightbox_arrow {
  width: 2em;
  background: none;
  transition: all 0.3s ease;
}
.lightbox_arrow:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 48em) {
  .gallery_flex {
    row-gap: 0.5em;
  }
  .gallery_block {
    width: 49%;
  }
}
@media screen and (max-width: 30em) {
  .gallery_block {
    width: 100%;
  }
}
#contacto {
  padding: 6.25em 0;
}

#contacto .wrap {
  background-color: #D9E8DA;
}

.contacto_wrap {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.contacto_wrap_block {
  background-color: #F6EFF2;
  border-radius: 0.625em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1em;
  text-align: center;
  width: calc(33.3% - 0.5em);
  align-items: center;
}
.contacto_wrap_icon {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 2em;
  margin-bottom: 1em;
}

.contacto_rrss {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: 0.5em;
}

@media screen and (max-width: 48em) {
  #contacto {
    padding: 2em 0;
  }
  .contacto_wrap_block {
    width: 49%;
  }
  .rrss {
    width: 100%;
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 30em) {
  .contacto_wrap_block {
    width: 100%;
  }
  .mail {
    margin-bottom: 0.5em;
  }
}
footer {
  background-color: #133234;
  color: #F6EFF2;
  padding: 1em 5%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #F6EFF2;
  font-weight: bold;
}

body {
  background-color: #F6EFF2;
  font-family: "Kanit", sans-serif;
}

.wrap {
  background-color: #F6EFF2;
  border-radius: 0.625em;
  margin: auto;
  padding: 0.625em;
  width: 95%;
}

.icon_rrss {
  transition: all 0.5s ease;
  width: 2em;
  transform: translateY(-5px);
}
.marquee {
  height: 6.25em;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}
.marquee_track {
  animation: marquee 20s linear infinite;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}
.marquee_content {
  color: #133234;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.outline {
  color: transparent;
  -webkit-text-stroke: 1px #133234;
}

/*# sourceMappingURL=style.css.map */
